.container1{
    background-color: #eee;
    border: #ccc;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item1{
    background-color: aqua;
    color: white;
    font-size: 25px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    flex: 1;
}

.container2{
    background-color: #eee;
    border: 2px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item2{
    background-color: aqua;
    color: white;
    font-size: 25px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
}