body {
    font-family: sans-serif;
    color: #333;

}

.container1 {
    border: 4px solid #777;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 50px 200px 100px 50px 100px ;
}
.grid-item1 {
    background-color: aqua;
    border: 4px solid #2869be;
    color: #fff;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0px;
    grid-column-start: 1;
    grid-column-end: 4;
}
.container2 {
    border: 4px solid #777;
    padding: 10px;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px ;
}
.grid-item2 {
    background-color: antiquewhite;
    border: 2px solid #3b06da;
    color:  #fff;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0px;
    grid-row: 1/span 5;
}

