h2 {
    text-align: center;
}

.rectangle {
    border: 10px solid black;
    width: 200px;
    height: 200px;
    margin: auto;
}

.buttons {
    padding: 20px;
    width: 200px;
    margin: auto;
}